body {
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #282828;
}

.navigation{
	text-decoration: none;
}
ul {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	width: 100%;
	margin: 0;
	padding: 0;
}

li {
	text-align: center;
	display: block;
	flex: 0.5 1 auto;
	list-style-type: none;
}

figure > img {
	height: 180px;
	width: 180px;
	border-radius: 50%;
}

li > button {
	border-style: none;
	background: none;
	background-color: none;
	padding: 10px;
	font-size: 90%;
	color: #ebdbb2
}

#particles-js {
    position : absolute;
		height: 80%;
		width: 99%;
    z-index:-1;
}

li > button:hover{
	transition: 500ms;
	background-color: #7c6f64;
}

.image{
	text-align: center;
	transform: translateY(50%);
}

.name {
	font-size: 150%;
	color: #ebdbb2;
}

.archbtw{
	font-size: 100%;
	color: #bdae93;
}

.my-image {
	text-align: center;
}

.text-holder {
	background-color: #1d2021;
	font-size: 120%;
	border-width: 2px;
	border-style: solid;
	border-color: #bdae93;
	padding-top: 3%;
	padding-bottom: 3%;
	text-align: center;
	color: #fbf1c7;
}
.myskillz > h2 {
	color: #ebdbb2;
	text-align: center;
}

a {
	color: #ebdbb2;
	text-decoration: none;
}

a:visited {
	text-decoration:none;
	color: #ebdbb2;
}
